/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {	
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {	
	display: block;
}
body {	
	line-height: 1;
}
ol, ul {	
	list-style: none;
}
blockquote, q {	
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {	
	content: '';
	content: none;
}
table {	
	border-collapse: collapse;
	border-spacing: 0;
} 

header, footer, aside, nav {	
	display: block;
}

body {	
	font: 13px/22px Helvetica, Arial, sans-serif;
	margin: 0 auto;
	width: 940px;
}

h1 {	
	font-size: 40px;
	line-height: 50px;
	margin-left: 20px;
	margin-top: 20px;
}

h2 {	
	font-size: 32px;
	line-height: 44px;
	padding: 22px 0;
}

p {	
	padding-bottom: 22px;
}

nav {	
	left: 0;
	position: absolute;
	width: 100%;
}

nav ul {	
	list-style: none;
	margin: 0 auto;
	overflow: auto;
	width: 940px;
} 

nav ul li {	
	float: left;
}  

nav ul li a {	
	color: black;
	display: block;
	font-size: 14px;
	line-height: 44px;
	margin-left: 20px;
	text-align: center;
	text-decoration: none;
}  
  
nav ul li a:hover {	
	color: #777;
}  
  
nav ul li a.selected {	
	color: #777;
}

#content {	
	display: table;
	margin-left: 20px;
	margin-top: 44px;
}  
  
#mainContent {	
	display: table-cell;
	padding-right: 22px;
	width: 620px;
}  
 
aside {	
	display: table-cell;
	width: 300px;
}

.blogPost div {	
	-webkit-column-count: 2;
	-webkit-column-gap: 22px;
	/* Column-count not implemented yet */  
    -moz-column-count: 2;
	/* Column-gap not implemented yet */  
    -moz-column-gap: 22px;
}

/*
	Form Elements
*/
form {

}

form ul li {	
	min-height: 30px;
}

form label {	
	float: left;
	width: 100px;
}

form button {	
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: white;
	border-color: black;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	margin-left: 100px;
	padding: 2px;
	width: 206px;
}

form button:hover {	
	background-color: black;
	color: white;
	cursor: pointer;
}

form input {	
	border-color: black;
	border-style: solid;
	border-width: thin;
	font: 13px/22px Helvetica, Arial, sans-serif;
	padding: 2px;
	width: 200px;
}

form textarea {	
	border-color: black;
	border-style: solid;
	border-width: thin;
	font: 13px/22px Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
	padding: 2px;
	width: 200px;
}

.error {	
	background-color: #f5cece;
}

.errorMessage {	
	background-color: white;
	min-width: 300px;
	padding-left: 10px;
}
