<div id="mainContent">  
	<section>  
		<h2>BIO</h2>
		<p>I'm Sean Mulligan, a software developer originally from Cape Town,
		South Africa and now a proud U.S. citizen residing in Suwanee, Georgia, USA.
		I live with my wonderful wife Hallie, a graphic designer and letterpress printer,
		and our furry feline Figboot.</p>
		<p>I spent the first twelve years of my life in Cape Town before moving to the States, eventually graduating Valedictorian of my high school class in 2003. Near the end of high school I interned at Intelligent Devices, Inc. where I fell in love with building computer programs. Some of my first applications were programs built on top of Microsoft Access to track parts and part numbers for various electrical components, and ever since I've enjoyed making bigger and better software applications. </p>
		<p>After that summer, I started at Vanderbilt University in Nashville, Tennessee. I graduated from Vandy in 2007 with a B.S. in Mathematics and Computer Science, allowing me to continue developing software and getting paid to do it!</p>
		<p>My background is primarily in the Microsoft stack (C#, VB, IIS, ASP.NET, etc..), 
		but I am building this website and blog on Google Go and Google App Engine 
		in order to gain some experience outside the Microsoft realm. 
		I enjoy learning new languages, technologies, and methodologies.</p>
	</section>  
</div>  
<aside>  
	<!-- Sidebar -->  
</aside> 