<div id="mainContent">  
	<section>  
		<h2>BIO</h2>
		<p>I'm Sean Mulligan, a software developer originally from Cape Town,
		South Africa and now a proud U.S. citizen residing in Suwanee, Georgia, USA.
		I live with my wonderful wife Hallie, a graphic designer and letterpress printer,
		and our furry feline Figboot.</p>
		<p>I spent the first twelve years of my life in Cape Town before moving to the
		States. I eventually graduated Valedictorian of my high school
		class in 2003 and then attended Vanderbilt University. Near the end of high school
		I interned at Intelligent Devices, Inc. where I fell in love with building computer
		programs. Some of my first programs were programs built on top of Microsoft Access
		to track parts and part numbers for various electrical components. I've been
		enjoying programming ever since. I graduated from college in 2007 
		with a B.S. in Mathematics and Computer Science, allowing me to continue 
		developing software and getting paid to do it!</p>
		<p>My primary experience is in the Microsoft stack (C#, VB, IIS, ASP.NET, etc..), 
		but I am building this website and blog on Google Go and Google App Engine 
		in order to gain some experience outside the Microsoft realm. 
		I enjoy learning new languages, technologies, and methodologies.</p>
	</section>  
</div>  
<aside>  
	<!-- Sidebar -->  
</aside> 