<div id="mainContent">  
	<section>  
		<h2>CONTACT</h2>
		{{submitted}}
		<form method="post">
			<p><label>Name: <input name="name"></label></p>
			<p><label>Email: <input type=email name="email"></label></p>
			<p><label>Information: <textarea name="info"></textarea></label></p>			
			<p><button>SUBMIT</button></p>
		</form>
	</section>  
</div>  
<aside>  
	<!-- Sidebar -->  
</aside> 