<!doctype html>
<html>
	<head>
		<title>Sean Mulligan</title>
		<link href="static/main.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
		<script type="text/javascript" src="static/js/selectedPage.js"></script>
	</head>
	<body>
		<header>
			<h1>SEAN MULLIGAN<h1>
		</header>
		<nav>
			<ul>
				<li><a href="/blog">BLOG</a></li>
				<li><a href="/bio">BIO</a></li>
				<li><a href="/resume">RESUME</a></li>
				<li><a href="/contact">CONTACT</a></li>
				<li><a href="https://github.com/sean-mulligan" >GITHUB</a></li>
			</ul>
		</nav>
		<div id="content">  
			{{{content}}} 
		</div> 	
		<footer>
		</footer>
	</body>
</html>
