<!doctype html>
<html>
	<head>
		<title>Sean Mulligan</title>
		<link href="static/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<h1>SEAN MULLIGAN<h1>
		</header>
		<nav>
			<ul>
				<li><a href="#">BLOG</a></li>
				<li><a href="#">BIO</a></li>
				<li><a href="#">RESUME</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>
		</nav>
		<div id="content">  
			{{{content}}} 
		</div> 	
		<footer>
		</footer>
	</body>
</html>
