<div id="mainContent">  
	<section>  
		<h2>RESUME</h2>
		<p>Please use the contact form and I'll send you a resume.
		I will be posting my resume here at a later date.</p> 
	</section>  
</div>  
<aside>  
	<!-- Sidebar -->  
</aside> 