<div id="mainContent">  
	<section>  
		<h2>RESUME</h2>
		<p>Please e-mail me at sean.mulligan.cs@gmail.com for a copy of my resume.</p> 
	</section>  
</div>  
<aside>  
	<!-- Sidebar -->  
</aside> 